.footer {
  margin-top: 50px;
  width: 100%;
  background-color: rgb(246, 255, 246);
}

.container {
  max-width: 1400px;
  padding: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 50px;
}

.footer-col {
  width: 25%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.ligne {
  max-width: 25%;
}

.footer-col span {
  margin: 10px;
  font-size: 20px;
}

.footer-col span:hover {
  padding-left: 10px;
  cursor: pointer;
  color: rgb(28, 179, 93);
}

.social-media {
  font-size: 40px;
  margin: 10px;
}

.social-media:hover {
  color: rgb(28, 179, 93);
  cursor: pointer;
}

.copyright {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .row {
    display: none;
  }
}
