.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}

.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.set-email {
  text-align: center;
  width: 500px;
  height: 50px;
  border-radius: 20px;
}
