.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 200px;
  height: 150px;
}
.logo:hover {
  cursor: pointer;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.searchInput {
  width: 400px;
  height: 50px;
}

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: rgb(92, 226, 133);
}

.searchBox:hover {
  cursor: pointer;
  background-color: rgb(69, 176, 101);
}

.searchIcon {
  font-size: 25px;
}

.iconsBoxes {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: center;
}

.iconBox {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 35px;
  height: 35px;
}

.categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 20px;
}

.warenMenge {
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin-top: -10px;
}
.warenBox {
  display: flex;
  flex-direction: row;
}

.links {
  text-decoration: none;
  color: black;
}
.links:hover {
  color: rgb(24, 171, 70);
  cursor: pointer;
}
