.produktenBox {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 80px;
}

.produktBox {
  padding: 20px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.produktBox:hover {
  cursor: pointer;
  box-shadow: 7px 5px 15px 5px #000000;
  transform: scale(1.1);
}

.produktImage {
  width: 250px;
  height: 250px;
  padding: 20px;
  margin-bottom: 5px;
}

.produktInfoBox {
  margin: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
}

.produktInfoBild {
  width: 650px;
  height: 550px;
}

.produktInformationen {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.produktInfosButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.plus {
  font-size: 20px;
}
.minus {
  font-size: 20px;
}
.plus:hover {
  color: rgb(22, 231, 74);
  cursor: pointer;
}
.minus:hover {
  color: rgb(245, 9, 9);
  cursor: pointer;
}

.menge {
  font-size: 20px;
  margin: 10px;
}
.mengeBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.toWarenBtn {
  width: 250px;
  border-radius: 20px;
  font-size: 18px;
  text-align: center;
}

.shopenBtn {
  border-radius: 20px;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}

.steuerUndVersand {
  font-size: 14px;
}
