.loginBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.login {
  background: rgb(1, 187, 5);
  background: linear-gradient(
    90deg,
    rgba(1, 187, 5, 1) 0%,
    rgba(14, 135, 133, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: 17px 14px 21px 15px rgba(0, 0, 0, 0.92);
  width: 500px;
  height: 550px;
  border-radius: 20px;
  padding: 60px;
  margin-top: 100px;
  margin-bottom: 60px;
}

.register {
  background: rgb(1, 187, 5);
  background: linear-gradient(
    90deg,
    rgba(1, 187, 5, 1) 0%,
    rgba(14, 135, 133, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  box-shadow: 17px 14px 21px 15px rgba(0, 0, 0, 0.92);
  width: 550px;
  height: 800px;
  border-radius: 20px;
  padding: 70px;
  margin: 100px;
}

.anmelden {
  text-align: center;
  margin-bottom: 30px;
}

.passwort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.inputBox {
  height: 50px;
  border-radius: 10px;
  margin-bottom: 35px;
}

.register input {
  height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.registerBtn {
  height: 50px;
  border-radius: 20px;
  margin-top: 15px;
}
.oder {
  text-align: center;
}

.mein-vorteile {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.mein-vorteile h4 {
  margin-bottom: 15px;
}

.datenschutz {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.datenschutz input {
  margin-bottom: 25px;
  margin-right: 10px;
}
