.sliders {
  margin: 30px;
}

.slider {
  background-color: rgb(246, 255, 246);
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description {
  font-size: 40px;
}
.desc-box {
  flex: 1;
  padding: 150px;
}

.foto-box {
  flex: 1;
}
.foto {
  height: 500px;
  width: 750px;
}

.iconUs {
  margin-top: 20px;
  font-size: 50px;
  transition: all 0.5s ease;
}
.iconUs:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.entdecken {
  margin-top: 20px;
  border-radius: 20px;
}

@media (max-width: 500px) {
  .slider {
    display: flex;
    flex-direction: column;
    height: 600px;
  }

  .foto {
    height: 300px;
    width: 350px;
  }

  .desc-box {
    flex: 1;
    padding: 60px;
  }
}
