.noProductBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.noProductBox-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50%;
}

.rekIcon {
  color: rgb(0, 98, 255);
  font-size: 35px;
  margin-bottom: 10px;
}

.noProduct {
  margin: 15px;
  font-size: 20px;
}

.toShopBtn {
  width: 150px;
  font-size: 15px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.warenDiv {
  margin: 150px;
  border-style: groove;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.warenKorb {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
}

.firstElem {
  flex: 1;
}
.secondElem {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.trash {
  margin-right: -40px;
  margin-left: 20px;
  font-size: 25px;
  color: rgb(209, 4, 4);
}
.trash:hover {
  cursor: pointer;
  color: rgb(136, 0, 0);
}

.warenImg {
  width: 100px;
  height: 80px;
  margin-right: 20px;
  margin-left: -20px;
  border-style: groove;
  border-radius: 10px;
  padding: 5px;
}

.warenKasse {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gutschein {
  width: 20rem;
  height: 3rem;
  border-radius: 30px;
  border-style: groove;
  text-align: center;
}
.gutscheinbtn {
  padding: 10px;
  margin-left: 5px;
  font-size: 45px;
  border-radius: 10px;
  color: aliceblue;
  background-color: rgb(37, 151, 67);
}
.gutscheinbtn:hover {
  cursor: pointer;
  background-color: rgb(22, 98, 42);
}

.wkFirst {
  flex: 1;
}

.bigSecondDiv {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.wkSeconddiv {
  padding: 20px;
  font-size: 20px;
  border-style: groove;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.wkSecond {
  display: flex;
  flex-direction: column;
}

.summe {
  font-weight: bold;
}

.titles {
  font-weight: bold;
}

.warenBtn {
  display: flex;
  justify-content: flex-end;
}

.wb {
  margin: 15px;
  border-radius: 20px;
  text-align: center;
  width: 250px;
}
