.vorteile {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
}
.title {
  font-size: 30px;
}

.bonus {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 50px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 50px;
}

.gridBoxes {
  text-align: center;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-radius: 20px;
  box-shadow: 2px 8px 14px 7px #000000;
}

.checkLogo {
  font-size: 100px;
  margin: 15px;
  color: rgb(71, 230, 137);
}

@media (max-width: 500px) {
  .bonus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .gridBoxes {
    padding: 20px;
    text-align: center;
    width: 350px;
    height: 200px;
  }

  .checkLogo {
    font-size: 150px;
  }
}
